
body {
margin:0;
background-color: bisque;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:15px;
}
.wrapper{
display: flex;
    gap:15px;
    flex-wrap: wrap;
    padding: 20px;
    align-items: center;
    justify-content: center;
    }
.wrapper .card{
    width: 150px;
    height: 150px;
    border-radius: 15px;
    background-color: #513c98;
    cursor: pointer;
    transition: all 0.25s ease;
}
.wrapper:hover> :not(:hover){
    filter: blur(5px);
    opacity:.5;
}