.box{
    width: 120px;
    height: 120px;
    background-color: red;
    margin: 30px;
    border-radius: 10px;
}
.box:hover{
    transform: translate(-10px,-20px);
}
.box1{
    width: 120px;
    height: 120px;
    margin:30px;
    background-color: blue;
    border-radius: 20px;
}
.box1:hover{
    transform: rotate(30deg);
}
.box2{
    width: 120px;
    height: 120px;
    background-color: green;
    margin: 30px;
    border-radius: 30px;
}
.box2:hover{
    transform: skew(-10deg,-10deg);
}
.box3{
    width: 120px;
    height: 120px;
    background-color: purple;
    margin: 30px;
    border-radius: 40px;
}
.box3:hover{
    transform: scale(0.8);
}
.box4{
    width: 100px;
    height: 150px;
    background-color: orange;
    margin: 30px;
    border-radius: 5px;
}
.box4:hover{
    transform: matrix(0,1,1,0,0,0);
}