.principal{
    background-color: purple;
    display:flex;
    flex-wrap: wrap;
}
.item{
    width: 100px;
    height: 50px;
    flex-grow: 1;
    flex-basis:200px;
    background-color: orange;
    margin: 20px;
}
.item1{
    width: 100px;
    height: 50px;
    flex-grow: 1;
    flex-basis:200px;
    background-color: green;
    margin: 20px;
    }
.item2{
    width: 100px;
    height: 50px;
    flex-grow: 1;
    flex-basis:200px;
    background-color: red;
    margin: 20px;
}
.item3{
    width: 100px;
    height: 50px;
    flex-grow: 1;
    flex-basis:200px;
    background-color: cyan;
    margin: 20px;
}