h2{
    color :green;
    font-size: 25px;
    background-color: skyblue;
    margin-left: 100px;
    padding: 50px;
}
.titulo2{
    color: red;
    font-size: 25px;
    margin-top: 50px;
    padding: 30px
}
#titulo3{
    color: #f6f6f6;
    font-size: 25px;
    background-color: rgba(22, 9, 190, 0.2);
    margin-right: 80px;
    padding:80px
}
p{
    color: black;
    font-size: 12px;
    background-color:pink;
    margin :12px;
    padding: 20px 10px;
}
nav{
    color: white;
    font-size: 20px;
    background-color: black;
    margin: 50px;
    padding: 20px;
}
.columna{
    color: white;
    font-size: 20px;
    background-color: orange;
    margin: 50px;
    padding: 20px;
    width: 25%;
}
.padre{
    display: flex;
    justify-content: space-around;

}